<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="net.robertoacevedo.domain.TodoMapper">

    <select id="selectTodo" parameterType="java.util.UUID" resultType="net.robertoacevedo.domain.Todo">
        select * from items where id = #{id}
    </select>

    <select id="selectAllTodos" resultType="net.robertoacevedo.domain.Todo">
        select * from items;
    </select>

</mapper>